html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
}

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background-color: #1992d4;

  display: grid;
  grid-template: 1fr 8fr / 1fr;
}

header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background-color: white;

  display: grid;
  grid-template: 1fr 2fr / 2fr 1fr;
  grid-template-areas:
    "searchbar userinfo"
    "greeting buttons";
}

main {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: #e2e8f0;

  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.branding {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: grid;
  grid-template: 1fr / 1fr 3fr;
  justify-items: start;
  align-items: center;
}

.branding img {
  background-color: black;
  width: 50px;
  height: 50px;
}

.navigation {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.main-nav {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
}

.misc-nav {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
}
.navigation .nav-element {
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  justify-items: start;
  align-items: center;
}

.navigation img {
  background-color: mintcream;
  width: 30px;
  height: 30px;
}

.searchbar {
  grid-area: searchbar;
  display: grid;
  grid-template: 1fr / 1fr 5fr;
  column-gap: 20px;
}

.searchbar img {
  width: 40px;
  height: 40px;
}

.searchbar label {
  justify-self: end;
  align-self: center;
}

.searchbar input {
  width: 60%;
  height: 40%;
  justify-self: start;
  align-self: center;
}

.userinfo {
  grid-area: userinfo;
  display: grid;
  grid-template: 1fr / 1fr 1fr 4fr;
  justify-self: center;
  justify-items: start;
  align-items: center;
  column-gap: 20px;
}

.userinfo img.bell {
  width: 40px;
  height: 40px;
}

.userinfo img.profile-picture {
  width: 40px;
  height: 40px;
}

.greeting {
  grid-area: greeting;
  display: grid;
  grid-template: 1fr / 1fr 4fr;
  column-gap: 20px;
  align-items: center;
}

.greeting .profile-picture {
  width: 70px;
  height: 70px;
  background-color: black;
  justify-self: end;
}

.greeting .greeting-message {
  font-size: 2rem;
}

.greeting .greeting-message::first-line {
  font-size: 1rem;
}

.buttons {
  grid-area: buttons;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  justify-self: start;
  justify-items: center;
  align-items: center;
  column-gap: 30px;
  width: 100%;
}

.buttons button {
  width: 80%;
  height: 30%;
}
.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}
